*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.input-text{
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.main{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
.btn-default{
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.btn-default:hover{
    background-color: gray;
    color: #fff;
}
.radio-box{
    padding: 20px 0;
}
#outputError{
    color: red;
}